@model IEnumerable<ShoppingCart.Entities.ShoppingCart>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Menu</h2>

<table class="table">



    table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserId)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryID)
        </th>
        <th>

        </th>
        <th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryID)

            </td>
    


        </tr>

    }


</table>
