/*#main-paige-btn {
    opacity: .75;
    background-color: white;
    color: black;
    height: 50px;
    vertical-align: middle;
    padding: 13px
}*/
#main-paige-btn {
    color: white;
    height: 50px;
    vertical-align: middle;
    padding: 13px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

#main-paige-jumbotron {
    height: 350px;
    background-image: url('/Images/MainPaigeLinkBackground.jpg');
}

.page-title-header {
    background: url('/Images/Graphics1.jpg') no-repeat center center;
    background-size: 100% auto;
}

.menu-header-text {
    color: black;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    font-weight: bold;


}


.menu-label-text {
    color: black;
    font-weight: bold;
}


