@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    117 San Jacinto<br />
    Austin, TX 78748<br />
    <abbr title="Phone">P:</abbr>
    512.474
</address>

<address>
    <strong>Support:</strong>   <a> Yeah... We don't answer stupid questions. </a><br />
    <strong>Marketing:</strong> <a>We don't need marketing we're that good. You found us didn't you? </a>
</address>