@{
    ViewBag.Title = "Home Page";
}

<div id="main-paige-jumbotron" class="jumbotron">
    <div  class="container-fluid">
        <div class="row" >
            <a id="main-paige-btn" href="http://gusfriedchicken.com/" class="btn btn-default">Go To Official Site&raquo;</a>
        </div>
    
    </div>
</div>





<div class="row" ">

    @if (!User.IsInRole("Manager"))
    {
        <div class="col-md-4">
            <h2>Place an order </h2>
            <p>
                Big Party? Small dinner? Don't feel like cooking, Let us do it for you. Click below to begin your order!
            </p>
            <p><a class="btn btn-default" href="http://localhost:50975/Inventory"> Order &raquo;</a></p>
        </div>
    }
    @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
    {
        <div class="col-md-4">
            <h2>See Current Orders</h2>
            <p>Check Order's that have been placed.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Recent Orders &raquo;</a></p>
        </div>
    }
    @if (User.IsInRole("Manager"))
    {
        <div class="col-md-4">
            <h2>Inventory</h2>
            <p>Update Inventory of the Restaurant.</p>
            <p><a class="btn btn-default" href="http://localhost:50975/Inventory">Inventory &raquo;</a></p>
        </div>
    }
</div>